@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(normalize.css);

html,body{background-color: #e9eaed;}

.container{width:35%;margin:20px auto 0 auto;height:500px;background-color:white;padding:0;border:1px solid #ccc;}
.span4{width:100%;height:200px;margin:0 auto;background-color: #3d5996;}
.img{width:25%;height:25%;margin:-18% auto 0 auto;position:relative;border-radius:50%;}
.img img{width:100%;height:100%;}
h1,h4{padding:0 20px;text-align:center;}

.input-group{width:95%;margin:0 auto;}
.input-group:first-child{margin-bottom:10px !important;}
#sizing-addon1:last-child{width:70px;}
#btnEntrar{float:right;margin:20px 10px 0 0;}

/*Alertas*/
.alert-danger{text-align:center;}
